<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.strawberry">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Strawberry">
        <activity
            android:name=".Activities.FriendActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.InforUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ImageVideoUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PostActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ActiveAcountActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>